<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <p>新增學員</p>
  <mat-icon mat-dialog-close>close</mat-icon>

</div>

<form [formGroup]="dataForm">


  <table>
    <tr>
      <td>
        <mat-form-field   class="example-full-width" appearance="outline">
          <mat-label>學生姓名</mat-label>
          <input matInput formControlName="Name" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>英文名</mat-label>
          <input matInput formControlName="NameEn" required>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table>
    <tr>

      <td>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>學費</mat-label>
          <input matInput formControlName="Money" required>
        </mat-form-field>
      </td>

      <td>
        <mat-form-field appearance="outline" class="formField">
          <mat-label>上課時段</mat-label>
          <mat-select formControlName="TimeId" multiple (selectionChange)="test()">
            <mat-option *ngFor="let item of timePeriodList" [value]="item.Id" [disabled]="this.dataForm.controls['TimeId'].value!.includes(0)">
              {{item.Time}}
            </mat-option>
            <mat-option [value]=0 >無</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <table>
    <tr>

      <td>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>連絡電話</mat-label>
          <input matInput formControlName="Phone" required [maxlength]="10">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>備註</mat-label>
          <textarea matInput placeholder="小五，基礎很好" formControlName="Note"></textarea>
        </mat-form-field>
      </td>


    </tr>


  </table>
</form>
<div fxLayoutAlign="center center">
  <button mat-raised-button (click)="closeDialog()">確定</button>
</div>
