@use "sass:map";
@import "../../GC.scss";

.container{
  padding: 10px;
}

.page-title{
  font-size: 34px;
    line-height: 58px;
}


.oneline-input-width{
  width: 800px;
}

.row-input-width{
  width: 200px;
}

.data-table{
  width: 90%;
  padding: 20px;
  margin: auto;
}
