<mat-toolbar class="toolbar" >
  <!-- <img src="../assets/images/toolBar.png" height="100px" > -->
  <h1>管理系統</h1>
</mat-toolbar>

<mat-sidenav-container class="container">
  <mat-sidenav #sideNav opened="true" mode="side" class="sidenav">
    <div *ngFor="let menu of navMenu" fxLayout="column" fxLayoutAlign="start start" class="menu">
      <p class="menuTitle">{{menu.title}}</p>
      <a [routerLink]="page.path" class="menuPage" *ngFor="let page of menu.menuList" routerLinkActive="pageActive"> {{page.name}}</a>
    </div>


  </mat-sidenav>

  <mat-sidenav-content>
      <!-- <button mat-button (click)="sideNav.toggle()">切換左邊選單狀態</button> -->

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
