@use "sass:map";
@import "./GC.scss";

a {
  text-decoration: none;
}

.toolbar {
  height: 100px;
  background-color: map.get($GC_color, "deep-green");
  h1{
    color: white;
    font-size: 32px;
    letter-spacing: 5px;
  }

}

// sidenav
.container{
  height: calc(100% - 100px);
  }
.sidenav {
  width: 250px;
  background-color: map.get($GC_color, "light-green");
  // padding-top: 10px;
}

.menu {
  padding: 0 30px;
  padding-top: 30px;
}

.menuTitle {
  font-size: 24px;
  color: map.get($GC_color, "grey-white");
  font-weight: 900;
  // margin: auto;
}

.menuPage {
  font-size: 20px;
  // margin: auto;
  color: map.get($GC_color, "grey-white");
  font-weight: 900;
  padding: 5px 0px;
  padding-left: 5px;
}
.pageActive {
  color: map.get($GC_color, "deep-green");
}

::ng-deep .mat-raised-button {
  width: 180px;
  height: 38px;
  margin: auto !important;
}
