$GC_color:(
  "deep-green": rgb(33, 101, 90),
  "light-green": rgb(84, 130, 120),
  "white-green": rgb(185, 203, 197),
  "grey-white": rgb(242, 242, 242),
  "dark-text": rgb(11, 68, 40),
  "light-text": rgb(242, 242, 242),

);

.spinner-fullscreen{
  width: 100%;
  height: 100%;
}
.btn-check{
  background-color: map.get($GC_color, "deep-green");
  color:map.get($GC_color, "grey-white"); ;
}

.btn-add{
  color: map.get($GC_color, "light-text");
  background-color:map.get($GC_color, "dark-text"); ;
}

.oneline-input-width{
  width: 800px;
}

.row-input-width{
  width: 200px;
}

::ng-deep .date-input-width{
 .mat-form-field-infix{
    width: 145px !important;
  }

}

::ng-deep .date-range-input-width{
  .mat-form-field-infix{
     width: 180px !important;
   }

 }


.page-title{
  font-size: 34px;
  line-height: 58px;
}


::ng-deep .mat-form-field-should-float .mat-form-field-label{
  font-size: 22px;
  font-weight: 900;
}
// ::ng-deep .mat-form-field-type-mat-date-range-input .mat-form-field-infix{
//   display:contents ;
//   padding: 1em 0 1em 0;
// }


::ng-deep .ng-select .ng-select-container{
  overflow: initial !important;
}
::ng-deep .ng-select .ng-select-container .ng-value-container{
  padding: 1em 0;
}
::ng-deep .ng-select.ng-valid .ng-select-container .ng-value-container .ng-placeholder{
  font-size: 22px;
  font-weight : 900;
}
// font-size: 20px;
// font-weight: 900;
// }
