<div fxLayout="row" fxLayoutAlign="center center">
  <p class="page-title">商品資訊調整</p>
</div>

<div fxLayout="row" class="content">
  <div fxLayout="column" >
    <div>
      <button mat-raised-button class="btn-add" (click)="CreateItem()">新增商品</button>
    </div>

    <br>
    <div class="item-data-list">
      <mat-list role="list">
        <div mat-subheader>
          <p class="list-header">商品清單</p>
        </div>
        <mat-list-item role="listitem" *ngFor="let item of itemList" (click)="getItemData(item)"
          [ngClass]="{'list-select': selectItem?.value == item.value}">{{item.display}}</mat-list-item>
      </mat-list>
    </div>
  </div>


  <div class="data-table" *ngIf="TableDataList.data.length != 0 || isCreateMode">

    <mat-form-field appearance="outline" class="row-input-width">
      <mat-label>商品名稱</mat-label>
      <input matInput [(ngModel)]="selectItem!.display" required />
    </mat-form-field>

    <mat-table [dataSource]="TableDataList" class="mat-elevation-z8 ">

      <ng-container matColumnDef="edit">
        <mat-header-cell *matHeaderCellDef style="max-width: 85px;" [attr.rowspan]="2">
          <button mat-icon-button *ngIf="editId == ''" (click)="AddMode()"><mat-icon>add_circle</mat-icon></button>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 85px;">
          <div *ngIf="editId == ''">
            <button mat-icon-button (click)="editMode(element.id)"><mat-icon>edit</mat-icon></button>
            <button mat-icon-button (click)="delMode(element.id)"><mat-icon>delete</mat-icon></button>
          </div>

          <button mat-icon-button *ngIf="editId == element.id"
            (click)="saveMode(element)"><mat-icon>save</mat-icon></button>
        </mat-cell>
      </ng-container>




      <ng-container matColumnDef="itemName">
        <mat-header-cell *matHeaderCellDef style="max-width: 220px;" a> 商品細項 </mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 220px;">
          <span *ngIf="element.id !== editId">{{element.itemName}}</span>
          <mat-form-field *ngIf="element.id === editId">
            <input matInput [(ngModel)]="element.itemName">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ItemDetailAmount">
        <mat-header-cell *matHeaderCellDef style="max-width: 80px;"> 規格數量 </mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 80px;">
          <span *ngIf="element.id !== editId">{{element.ItemDetailAmount}}</span>
          <mat-form-field *ngIf="element.id === editId">
            <input matInput [(ngModel)]="element.ItemDetailAmount">
          </mat-form-field></mat-cell>
      </ng-container>

      <ng-container matColumnDef="ItemDetailUnit">
        <mat-header-cell *matHeaderCellDef style="max-width: 60px;"> 規格單位 </mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 60px;">
          <span *ngIf="element.id !== editId">{{element.ItemDetailUnit}}</span>
          <mat-form-field *ngIf="element.id === editId">
            <input matInput [(ngModel)]="element.ItemDetailUnit">
          </mat-form-field></mat-cell>
      </ng-container>

      <ng-container matColumnDef="ItemAmount">
        <mat-header-cell *matHeaderCellDef style="max-width: 80px;"> 數量 </mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 80px;">
          <span *ngIf="element.id !== editId">{{element.ItemAmount}}</span>
          <mat-form-field *ngIf="element.id === editId">
            <input matInput [(ngModel)]="element.ItemAmount">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ItemUnit">
        <mat-header-cell *matHeaderCellDef style="max-width: 60px;"> 單位 </mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 60px;">
          <span *ngIf="element.id !== editId">{{element.ItemUnit}}</span>
          <mat-form-field *ngIf="element.id === editId">
            <input matInput [(ngModel)]="element.ItemUnit">
          </mat-form-field> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="RealItemAmount">
        <mat-header-cell *matHeaderCellDef style="max-width: 80px;"> (實際)數量 </mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 80px;">
          <span *ngIf="element.id !== editId">{{element.RealItemAmount}}</span>
          <mat-form-field *ngIf="element.id === editId">
            <input matInput [(ngModel)]="element.RealItemAmount">
          </mat-form-field></mat-cell>
      </ng-container>
      <ng-container matColumnDef="RealItemDetailUnit">
        <mat-header-cell *matHeaderCellDef style="max-width: 80px;"> (實際)單位 </mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 80px;">
          <span *ngIf="element.id !== editId">{{element.RealItemDetailUnit}}</span>
          <mat-form-field *ngIf="element.id === editId">
            <input matInput [(ngModel)]="element.RealItemDetailUnit">
          </mat-form-field></mat-cell>
      </ng-container>
      <ng-container matColumnDef="RealItemDetail">
        <mat-header-cell *matHeaderCellDef style="max-width: 80px;"> 規格備註 </mat-header-cell>
        <mat-cell *matCellDef="let element" style="max-width: 80px;">
          <span *ngIf="element.id !== editId">{{element.RealItemDetail}}</span>
          <mat-form-field *ngIf="element.id === editId">
            <input matInput [(ngModel)]="element.RealItemDetail">
          </mat-form-field></mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <br>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-raised-button *ngIf="!isCreateMode" class="btn-check" (click)="Modify()">確認修改</button>
      <button mat-raised-button  *ngIf="isCreateMode" class="btn-check" (click)="DoCreateItem()">確認新增</button>
    </div>

  </div>

</div>
